.olvido-contrasena-card {
  width: 380px;
  padding: 55px 25px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.olvido-contrasena-card input {
  background: #f8f9fa;
  border-radius: 5px;
}

.olvido-contrasena-card h1 {
  font-size: 30px;
  align-self: center;
  margin-bottom: 30px;
  color: #00b8ec;
}

@media (min-width: 576px) {
  .olvido-contrasena-card {
    width: 494px;
    height: 650px;
    padding: 110px 50px;
    display: flex;
    flex-direction: column;
  }

  .olvido-contrasena-card h1 {
    font-size: 36px;
    align-self: center;
    margin-bottom: 50px;
  }

  .olvido-contrasena-submit {
    margin: 70px 0 68px 0;
    width: 394px;
  }
}
