.estudiar-card-container {
  position: relative;
  height: 330px;
  width: 100%;
  min-width: 380px;
  perspective: 1000px;
  margin: 0 auto;
}

.estudiar-card-container .flip-card {
  position: relative;
  height: 100%;
  width: 100%;
  background: #f8f9fa;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  border-radius: 10px;
}

.estudiar-card-container:active .flip-card {
  transform: rotateY(-180deg);
}

.flip-card .estudiar-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #f8f9fa;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  backface-visibility: hidden;
  position: absolute;
  padding: 20px;
}

.back.estudiar-card {
  transform: rotateY(-180deg);
}

@media (min-width: 576px) {
  .estudiar-card-container {
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .estudiar-card-container {
    padding: 0 20px;
    perspective: 1000px;
  }
}

@media (min-width: 992px) {
  .estudiar-card-container {
    padding: 10px 100px 0;
    perspective: 1500px;
  }
}

@media (min-width: 1200px) {
  .estudiar-card-container {
    padding: 10px 150px 0;
    perspective: 2000px;
  }
}
