.tarjeta-filter-crud {
  min-width: 380px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.tarjeta-filter-crud-select {
  margin-bottom: 10px;
  height: 50px;
}

.btn-tarjeta-crud-nueva {
  width: 100%;
  height: 50px;
  font-weight: bold;
}

@media (min-width: 576px) {
  .tarjeta-filter-crud {
    flex-direction: row;
    padding: 8px 15px;
  }

  .tarjeta-filter-crud-select {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .btn-tarjeta-crud-nueva {
    width: 170px;
  }
}
