.main-nav {
  background-color: #f8f9fa;
  padding: 20px 10px;
  min-height: 100px;
  min-width: 400px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 184, 236, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgba(0, 184, 236, 1);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  box-shadow: 0px 0px 5px rgba(0, 149, 191, 1);
}

.nav-logo {
  margin-right: 22px;
}

.nav-logo-text,
.nav-logo-text:hover {
  font-size: 30px;
  color: #00b8ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-text h4 {
  font-size: 30px;
}

.main-menu {
  font-size: 24px;
  width: 100%;
  justify-content: space-between;
}

.main-menu a {
  color: #00b8ec;
  display: block;
}

.main-menu a:hover {
  color: #0095bf;
}

.main-menu a.active {
  color: #0095bf;
  font-weight: 700;
}

.main-menu li:first-of-type {
  padding-right: 50px;
}

.navbar-buttons-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.navbar-button {
  width: 150px;
  height: 4vh;
  border: none;
  color: #f8f9fa;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
}

.login-button {
  background-color: #00b8ec;
  margin-bottom: 10px;
}

.register-button {
  background-color: #ff49bc;
}

.logout-button {
  background-color: #ff49bc;
  float: right;
  margin-left: 50px;
}

@media (min-width: 768px) {
  .main-nav {
    padding: 20px 10px;
  }

  .navbar-buttons-container {
    flex-direction: row;
    align-items: center;
  }

  .login-button {
    margin-bottom: 0;
    margin-left: 30px;
  }

  .main-menu {
    justify-content: end;
  }
}
