ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 400px;
}

.admin-nav-container {
  background-color: #f8f9fa;
}

.admin-nav-container li {
  width: 100%;
}

.admin-nav-container li:not(:last-child) {
  border-right: 1px solid #fff;
}

.admin-nav-container :hover {
  background: #0095bf;
  font-weight: bold;
  color: #ffffff;
}

.admin-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
  color: #00404c;
  background-color: #efefef;
  height: 80px;
  line-height: 23px;
}

.admin-nav-item.active {
  background: #0095bf;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.admin-nav-item p {
  margin: 0;
}

@media (min-width: 768px) {
  ul {
    flex-direction: column;
    justify-content: unset;
    min-width: 205px;
  }

  .admin-nav-container {
    height: calc(100vh - 100px);
  }

  .admin-nav-container li:not(:last-child) {
    border-right: unset;
    border-bottom: 1px solid #fff;
  }

  .admin-nav-item {
    justify-content: start;
    padding: 0 20px;
  }
}
