.home-container {
  display: flex;
  min-width: 400px;
  height: 89vh;
  background-color: #00b8ec;
}

.home-left-container h1 {
  font-size: 40px;
  color: #f8f9fa;
  font-weight: 500;
  margin: 20px 10px 35px;
  text-align: center;
}

.home-left-text {
  background-image: url(assets/images/front-text-background.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.home-left-container p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #f8f9fa;
  padding: 80px 30px;
  max-width: 470px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .home-container {
    padding: 0 10vw 30px 5vw;
    background-image: url(assets/images/front-plant-illustration.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-origin: content-box;
    justify-content: center;
  }

  .home-left-text {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .home-container {
    padding: 0 20px 30px 0;
    background-image: url(assets/images/home-image-large.svg);
  }
}

@media (min-width: 992px) {
  .home-container {
    padding: 0 10vw 30px;
  }

  .home-left-container {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    padding: 0 20vw 30px;
  }
}
