.home-container {
  display: flex;
  min-width: 400px;
  height: 89vh;
  background-color: #00b8ec;
}

.home-left-container h1 {
  font-size: 40px;
  color: #f8f9fa;
  font-weight: 500;
  margin: 20px 10px 35px;
  text-align: center;
}

.home-left-text {
  background-image: url(assets/images/front-text-background.svg);
  background-position: bottom center, 50%, 50%;
  background-size: cover;
  width: 100%;
  height: 50%;
}

.home-left-container p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #f8f9fa;
  padding: 50px 30px;
}

.home-left-container svg {
  display: none;
  width: 80%;
  margin: 0 auto;
}
