.admin-container {
  display: flex;
  flex-direction: column;
}

.admin-content {
  flex: 1;
  padding: 10px 10px;
  min-width: 400px;
}

@media (min-width: 768px) {
  .admin-container {
    flex-direction: row;
  }

  .admin-content {
    padding: 20px 22px 20px 22px;
  }
}
