.admin-container {
    display: flex;
    flex-direction: column;
    
}

.admin-content {
    flex: 1;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .admin-container {
        flex-direction: row;
    }

    .admin-content {
        padding: 20px 50px 20px 16px;
    }
}