.tarjeta-card-container {
  display: flex;
  flex-direction: column;
  min-width: 380px;
  width: 100%;
  padding: 6px 25px 10px 25px;
  margin: 10px auto;
}

.tarjeta-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #000000;
  margin-bottom: 3px;
}

.tarjeta-butons-container {
  display: flex;
  justify-content: space-between;
}

.boton-tarjeta-card {
  width: 100%;
}

.boton-tarjeta-card:first-child {
  margin-right: 10px;
}

@media (min-width: 576px) {
  .tarjeta-card-container {
    flex-direction: row;
    margin: 18px auto;
    padding: 5px 15px;
    width: 100%;
    justify-content: space-between;
  }

  .tarjeta-label {
    margin-bottom: 0;
  }

  .tarjeta-frontal-container {
    width: 100%;
    margin-right: 5px;
  }

  .tarjeta-trasera-container {
    width: 100%;
    margin-right: 5px;
  }

  .tarjeta-butons-container {
    flex-direction: column;
    justify-content: center;
  }

  .boton-tarjeta-card {
    height: 50px;
    width: 120px;
  }

  .boton-tarjeta-card:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .tarjeta-card-container {
    padding: 10px 20px;
  }

  .tarjeta-frontal-container {
    margin-right: 15px;
  }

  .tarjeta-trasera-container {
    margin-right: 15px;
  }

  .boton-tarjeta-card {
    width: 180px;
  }
}
