.tarjeta-card-container {
  display: flex;
  flex-direction: column;
  min-width: 380px;
  width: 100%;
  padding: 10px;
  margin: 0 auto 15px;
}

.tarjeta-label {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #000000;
  margin-bottom: 3px;
}

.tarjeta-butons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boton-tarjeta-card {
  width: 100%;
}

.boton-tarjeta-card:first-child {
  margin-right: 10px;
}

@media (min-width: 576px) {
  .tarjeta-card-container {
    flex-direction: column;
    /* margin: 0 auto; */
    padding: 10px 15px;
    width: 100%;
    justify-content: space-between;
  }

  .tarjeta-text-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .tarjeta-textarea-container {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .tarjeta-frontal-container {
    width: 100%;
    margin-right: 5px;
  }

  .tarjeta-trasera-container {
    width: 100%;
    margin-right: 5px;
  }

  .tarjeta-butons-container {
    flex-direction: column;
    justify-content: center;
  }

  .boton-tarjeta-card {
    width: 120px;
  }

  .boton-tarjeta-card:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .tarjeta-card-container {
    padding: 10px 15px;
  }

  .tarjeta-frontal-container {
    margin-right: 15px;
  }

  .tarjeta-trasera-container {
    margin-right: 15px;
  }

  .boton-tarjeta-card {
    width: 180px;
  }
}
