$theme-colors: (
    'primary': #00B8EC,
    'secondary': #9E9E9E,
    'danger': #B11E36,
    'success': #339D66,
);

$body-bg: #EFEFEF; 
$body-color: #00404C;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';