.register-container {
  min-width: 400px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.register-header img {
  display: none;
}

.register-container h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.register-container hr {
  display: inline-block;
  width: 70%;
  align-self: center;
  border-top: 2px solid #00404c;
}

.register-form-container {
  padding-top: 20px;
}

.register-form-container input {
  background: #f8f9fa;
}

.register-form-container label {
  font-size: 18px;
}

.register-form-container p {
  font-size: 15px;
  text-align: justify;
}

.conditions-link-register {
  text-decoration: underline;
}

.register-submit {
  margin: 20px 0 20px 0;
  width: 100%;
  height: 48px;
  background-color: #00b8ec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  color: #f8f9fa;
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 576px) {
  .register-container {
    padding: 40px 30px 25px 30px;
  }

  .register-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .register-header img {
    display: block;
    text-align: center;
    padding-bottom: 15px;
  }

  .register-container h1 {
    padding: 0 10px 0 10px;
  }

  .register-container hr {
    display: none;
  }

  .register-form-container {
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .register-container {
    padding: 40px 80px 40px 80px;
  }

  .register-container h1 {
    font-size: 25px;
    padding: 0 10px 0 10px;
  }

  .register-submit {
    width: 296px;
    float: right;
  }
}

@media (min-width: 992px) {
  .register-container {
    padding: 85px 65px auto 65px;
  }
}

@media (min-width: 12002px) {
  .register-container {
    padding: 85px 215px auto 215px;
  }
}
